body {
    overflow: hidden;
    height: 100vh;
    background-color: #f8f9fa;
}
.container {
    max-width: 900px;
}

.card {
    border: none;

}
.card-header,
.card-body {
    padding: 1.5rem;

}
.table{
    height: 60vh;
}
.badge-status {
    min-width: 80px;
}
.table tbody tr {
    vertical-align: middle;
}